@model Models.Issue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PicturePath" class="control-label"></label>
                <input asp-for="PicturePath" class="form-control" />
                <span asp-validation-for="PicturePath" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="State" /> @Html.DisplayNameFor(model => model.State)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Createdate" class="control-label"></label>
                <input asp-for="Createdate" class="form-control" />
                <span asp-validation-for="Createdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolveddate" class="control-label"></label>
                <input asp-for="Resolveddate" class="form-control" />
                <span asp-validation-for="Resolveddate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="X1" class="control-label"></label>
                <input asp-for="X1" class="form-control" />
                <span asp-validation-for="X1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="X2" class="control-label"></label>
                <input asp-for="X2" class="form-control" />
                <span asp-validation-for="X2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Y1" class="control-label"></label>
                <input asp-for="Y1" class="form-control" />
                <span asp-validation-for="Y1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Y2" class="control-label"></label>
                <input asp-for="Y2" class="form-control" />
                <span asp-validation-for="Y2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
